{% include 'partials/head.twig' %}
    <form action="#" method="POST">
    <div>        
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <input type="text" name="first_name" placeholder="Votre prénom">
    </div>
    <div>
        <input type="text" name="last_name" placeholder="Votre nom">
    </div>

    <input type="submit">
    </form>
{% include 'partials/foot.twig' %}