{% include 'partials/head.twig' %}
{% include 'partials/nav.twig' %}

<div class="page">
    <div class="page__container">
        <h1 class="page__container--title">Bienvenue !</h1>
        <div class="page__container--patientListe">
            {% for user in users %}
                {% if user.status < 2 %}
                <div class="page__container--id">
                    <h2>{{ user.first_name }}</h2>
                    <h2>{{ user.last_name }}</h2>
                    <a href="{{ url('results', {fill: user.id }) }}"><p>Voir la fiche de suivi</p></a>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <form action="#" method="POST">
            <div>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input type="text" name="first_name" placeholder="Votre prénom">
            </div>
            <div>
                <input type="text" name="last_name" placeholder="Votre nom">
            </div>
            <input type="submit">
        </form>
    </div>
</div>
{% include 'partials/foot.twig' %}