{% include 'partials/head.twig' %}
<div class="hero-head">
        {% include 'partials/nav.twig' %}
</div>
<div class="page">
    <div class="page__container">
        <div class="page__container--text">
            <h1><span>Bienvenue sur Plumi</span></h1>
            <div class="text">
                <p>Plumi est un jeu qui va te permettre d'écrire en t'amusant ! <strong>Connecte-toi</strong> pour commencer à jouer !</p>
            </div>
        </div>

        <div class="page__container--btn">
            <a href="{{ url('login') }}">Connexion</a>
        </div>

        <div class="page__container--space">
            <a href="{{ url('admin') }}">Espace orthophoniste</a>
        </div>
    </div>
</div>
{% include 'partials/foot.twig' %}