{% include 'partials/head.twig' %}
<div class="hero-head">
        {% include 'partials/nav.twig' %}
</div>
<h1>PLUMI</h1>
<a class="button is-success" href="{{ url('login') }}">Login</a>
<a href="{{ url('admin') }}">Se connecter en tant qu'administrateur</a>
{% include 'partials/foot.twig' %}