{% include 'partials/head.twig' %}

<section class="hero is-info is-fullheight is-bold">
    <div class="hero-head">
        {% include 'partials/nav.twig' %}
    </div>

    <div class="page">
        <div class="page__container">
            <div class="page__container--text">
                <h1><span>Commençons les exercices</span></h1>
                <div class="text">
                    <p>Sur quoi voulez-vous vous entraîner aujourd'hui ?</p>
                </div>
            </div>
            <div class="page__container--btn">
                <a class="" href="{{ url('exercice', {type: 1, id: 1}) }}">
                    <span>Compléter les mots</span>
                </a>
            </div>
            <div class="page__container--btn">
                <a class="" href="{{ url('exercice', {type: 2, id: 1}) }}">
                    <span>Quel est le bon verbe ?</span>
                </a>
            </div>
            <div class="page__container--btn">
                <a class="" href="{{ url('exercice', {type: 3, id: 1}) }}">
                    <span>La dictée</span>
                </a>
            </div>
        </div>
    </div>
</section>

{% include 'partials/foot.twig' %}
