{% include 'partials/head.twig' %}

<section class="hero is-info is-bold">
    <div class="hero-head">
        {% include 'partials/nav.twig' %}
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2">
                Exercise
            </h1>
            <h2 class="subtitle is-4">
                Subtitle
            </h2>
        </div>
    </div>
</section>

{% if message is defined %}
    <h1>{{message}}</h1>
{% endif %}

<form method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Login</button>
</form>

{% include 'partials/foot.twig' %}
