{% include 'partials/head.twig' %}

<section class="hero is-info is-bold">
    <div class="hero-head">
        {% include 'partials/nav.twig' %}
    </div>
</section>
    <div class="page">
        <div class="page-container page__login">
            <div class="page__container--text">
                <h1  class="page__login--title"><span>Connectez-vous</span></h1>
            </div>

            <form action="#" method="POST" class="form-control page__login--form">
                <div>
                    <label for="username">Identifiant</label>
                    <input type="text" name="username" placeholder="JacquesBoulangers1829">
                </div>
                <div>
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" placeholder="•••••••••">
                </div>
                <div>
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>

{% if message is defined %}
    <h1>{{message}}</h1>
{% endif %}

{% include 'partials/foot.twig' %}
