{% include 'partials/head.twig' %}

<section class="hero is-info is-bold">
    <div class="hero-head">
        {% include 'partials/nav.twig' %}
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2">
                Exercise
            </h1>
            <h2 class="subtitle is-4">
                Subtitle
            </h2>
        </div>
    </div>
</section>

Bravo ! 

{% include 'partials/foot.twig' %}
