{% include 'partials/head.twig' %}
{% include 'partials/nav.twig' %}
<div class="page__container--text results-title">
	<h1>Consulter les résultats</h1>
</div>
{% for answer in fill %}
		<h2 class="results-question-number">Numéro de la question: {{ answer.question.id }}</h2>
		<h2 class="results-answer-patient">Réponse du patient : {{ answer.answer }}</h2>
		<div class="text results-global-answers-box">
			{% if answer.success == 1 %}
				<div class="results-answer-true"></div>
			{% else %}
				<div class="results-answer-false">
			{% endif %}
		</div>
{% endfor %}
	
{% include 'partials/foot.twig' %}