{% include 'partials/head.twig' %}
{% include 'partials/nav.twig' %}

		{% for answer in fill %}
			<h1>Question: {{ answer.question.text }}</h1>
			<h1>Réponse: {{ answer.answer }}</h1>
		{% endfor %}

{% include 'partials/foot.twig' %}