{% include 'partials/head.twig' %}
    <form action="#" method="POST">
        <div>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% include 'partials/foot.twig' %}