
    <script src="{{app.request.basepath}}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="{{app.request.basepath}}/assets/js/script.js"></script>

</body>
</html>
